
.flex-container {
    display: flex;
    gap: 20px;            
    padding: 20px;
    background-color: #f0f0f0;
}


.flex-item {
    background-color: #4CAF50; 
    color: white;
    padding: 20px;
    font-family: sans-serif;
    border-radius: 8px;
    text-align: center;
    flex: 1;               
}